@import url("../../assets/fonts/Poppins-Medium.ttf");
@import url("../../assets/fonts/Poppins-Regular.ttf");
@import url("../../assets/fonts/Poppins-Light.ttf");

.content {
  color: #ffffff;
  font-family: "Poppins-Light", sans-serif;
  line-height: 25px;
}
.topic-content {
  color: #ffffff;
  font-size: 17px;
  padding-bottom: 15px;
  font-family: "Poppins-Medium", sans-serif;
}
.footer-top {
  background-color: #252525;
  padding: 80px 0;
}
.logo-footer{
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}
.segment-two .topic-content::before,
.segment-three .topic-content::before,
.segment-four .topic-content::before {
  content: "|";
  color: #f1862c;
  padding-right: 10px;
}

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.segment-two ul .link {
  line-height: 20px;
}

.segment-two ul .link {
  color: #ffffff;
  text-decoration: none;
}

.segment-two .topic-content,
.segment-three .topic-content,
.segment-four .topic-content {
  color: #ffffff;
  font-family: "Poppins-Medium", sans-serif;
}

.segment-three .icons  {
  display: flex;
  float: left;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 12px;
}

.submit-button {
  background: #f1862c;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 8px 9px;
  margin-left: -5px;
  color: #ffffff;
}
.email-field {
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
  padding: 8px 80px;
  border: none;
}
.form-area {
  margin-top: 20px;
}
.footer-bottom-text {
  text-align: center;
  background: #414141;
  line-height: 50px;
  color: #fafafa;
  margin-bottom: 50px;
}
