@import url("../../assets/fonts/Poppins-Medium.ttf");
@import url("../../assets/fonts/Poppins-Regular.ttf");
@import url("../../assets/fonts/Poppins-Light.ttf");

.content {
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 25px;
  font-size: 12px;
}
.topic-content {
  color: #f1f0f0;
  font-size: 17px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.footer-top {
  background-color: #252525;
  padding: 80px 0;
}
.logo-footer {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}
.segment-two .topic-content::before,
.segment-three .topic-content::before,
.segment-four .topic-content::before {
  content: "|";
  color: #f1862c;
  padding-right: 10px;
}

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}

.segment-two ul .link {
  line-height: 20px;
}

.segment-two ul .link {
  color: #ffffff;
  text-decoration: none;
}

.segment-two .topic-content,
.segment-three .topic-content,
.segment-four .topic-content {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.segment-three .icons {
  display: flex;
  float: left;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 12px;
}

.submit-button {
  background: #f1862c;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 8px 9px;
  margin-left: -5px;
  color: #ffffff;
}
.email-field {
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
  padding: 8px 80px;
  border: none;
}
.form-area {
  margin-top: 20px;
}
.footer-bottom-text {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  background: #414141;
  line-height: 50px;
  color: #fafafa;
  margin-bottom: 50px;
}
