@import url("../../assets/fonts/Poppins-SemiBold.ttf");
.section-title,
.section-title-form {
  font-size: 20px;
  font-family: "Poppins-SemiBold", sans-serif;
  line-height: 30px;
  font-weight: 600;
  color: #21826e;
}
.section-title-form {
  margin-bottom: 15px;
}
.form-area {
  width: 70%;
  margin: auto;
}
#comment_name {
  background-color: #e6e6e6;
}
#comment_content {
  background-color: #e6e6e6;
  border-radius: 10px;
  color: #353434;
}
#comment_content::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a2a2a2;
  opacity: 1; /* Firefox */
}
.submitbtn {
  background-color: #21826e;
  display: flex;
  float: right;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
