@import url("../../assets/fonts/Poppins-Medium.ttf");
@import url("../../assets/fonts/Poppins-Regular.ttf");
@import url("../../assets/fonts/Poppins-Light.ttf");

.navbar-header .hamburger-icon-qr {
    float: left;
    display: block;
    color: #21826e;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-size: 28px;
  }

.fav-title {
    font-size: 30px;
    font-weight: 600;
    color: #676767;
    font-family: "Poppins", sans-serif;
}
.qr-back-icon {
    font-size: 30px;
    color: #21826e;
    cursor: pointer;
}

/* #selectall{
    color: #676767;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 18px;
    padding-left: 40px;
    margin-top: -10px;
    padding-right: 13px;
} */



  .select-all-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #e1e1e1;
    border-radius: 3px;
  }
  .select-all-checkbox input:checked ~ .checkmark {
    border: 2px solid #21826e;
    border-radius: 3px;
    background-color: #21826e;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .select-all-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  .select-all-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #checkbox-label {
    float: right;
    padding-right: 37px;
    margin-top: 1px;
  }

.share-favourites {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #21826e;
    opacity: 0.5;
    position: fixed;
    bottom: 56px;
    width: 100%;
    color: white;
    font-weight: 50;

  }

  .favourite-products {
    padding-inline-start: 0px !important;
    padding: 0px 12px !important;
  }
  .favourite-products > li {
    margin-top: 20px;
  }

  .products {
    background-color: white;
  }
  ul {
    list-style-type: none;
  }
  .favourite-product {
    backgrond-color: white;
    border: 1px solid #E1E1E1;
  }
  .favourite-product-name {
    font-family: normalText;
  /*  float: right;*/
    color: black;
    /* text-shadow: none; */
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;
  }
  .favourite-product-detail {
    float: right;
    color: black;
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;
      font-size: 10px;
  }
  .favourite-product-price {
    font-family: normalText;
    /*float: right;*/
    /* text-shadow: none; */
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;
    font-weight: 600;
  }
  .favourite-product-quantity {
    background-color: white;
  }  

  .delete-icon {
      float: right;
  }

  .clear{
    clear:both;
}

/* ----------------------------------- */

.select-all-checkbox {
  display: block;
  position: absolute;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-all-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.select-all-checkbox input:checked ~ .checkmark {
  border: 2px solid #21826e;
  border-radius: 3px;
  background-color: #21826e;
}

.select-all-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.select-all-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #e1e1e1;
  border-radius: 3px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #e1e1e1;
  border-radius: 3px;
}
.favourite-product-checkbox input:checked ~ .checkmark {
  border: 2px solid #21826e;
  border-radius: 3px;
  background-color: #21826e;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.favourite-product-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.favourite-product-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.favourite-product-details {
  background-color: transparent;
  float: right;
  width: 45%;
}

.favourite-product {
  backgrond-color: white;
  border: 1px solid #E1E1E1;
}
.favourite-product-name {
  font-family: normalText;
/*  float: right;*/
  color: black;
  /* text-shadow: none; */
  margin-block-start: 0.3em;
  margin-block-end: 0.5em;
}
.favourite-product-detail {
  float: right;
  color: black;
  margin-block-start: 0.3em;
  margin-block-end: 0.5em;
    font-size: 10px;
}
.favourite-product-price {
  font-family: normalText;
  /*float: right;*/
  /* text-shadow: none; */
  margin-block-start: 0.3em;
  margin-block-end: 0.5em;
  font-weight: 600;
}
.favourite-product-quantity {
  background-color: white;
}

.favourite-products {
  padding-inline-start: 0px !important;
  padding: 0px 12px !important;
}
.favourite-products > li {
  margin-top: 20px;
}
.favourite-product {
  width: 350px;
  height: 220px;
  box-shadow: 1px 3px 9px #88888833;
}
.favourite-product-images {
  background-color: transparent;
  float: left;
}
.favourite-product-image {
  width: 165px;
  padding-left: 12px;
  padding-top: 3px;
}
.favourite-icon-fill {
  width: 19px;
  position: absolute;
  margin-left: -165px;
}
.favourite-product-details {
  background-color: transparent;
  float: right;
  width: 45%;
}
.favourite-product-checkbox {
  display: block;
  position: absolute;
  right: 0;
  margin-top: 8px !important;
  padding-left: 35px;
  padding-right: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.favourite-product-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.favourite-product-name {
  font-size: 18px;
  padding-right: 10px;
  padding-top: 50px;
}

.favourite-product-quantity {
  margin-top: 120px;
}
.favourite-product-decrease-button {
  padding: 0px;
  margin-left: 25px;
  background-color: white;
  outline: none;
  border: none;
  margin-top: 3px;
}
.favourite-product-count {
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
  width: 5%;
}
.favourite-product-increase-button {
  position: absolute;
  padding: 0px;
  margin-left: 28px;
  background-color: white;
  outline: none;
  border: none;
  margin-top: 3px;
}

/* ---------------------------- */
.img {
  height: 90px;
  width: 80px;
}

.cart-item {
  display: flex;
  border-radius: 15px;
  width: 100%;
  background-color: white;
  box-shadow: 0 6px 6px 0 rgba(126, 126, 126, 0.2), 0 4px 10px 0 rgba(128, 128, 128, 0.19);
  margin-top: 20px;
}

.check-image {
  margin-left: 10px;
}

.item-info {
  left: 20px;
  top: 23px;
  padding-bottom: 20px;
position: relative;
}

.quantity-btn  {
	background-color: #21826e;
  font-family: "Poppins", sans-serif;
	/* border: 0; */
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	/* font-size: 16px; */
  font-size: 12px;
	padding: 10px;
	position: absolute;
	bottom: 53px;
	right: -120px;
	/* letter-spacing: 1px; */
}

#cart-img {
  height: 18px;
  width: 18px;
}

 .hover_bkgr_fricc{
  background:rgba(4,0,0,.4);
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 80%;
  position: relative;
  border-radius: 15px;
  padding: 15px 5%;
}

#button2{
  background-color: #21826e;
  font-family: "Poppins-SemiBold", sans-serif;
  color: white;
  border-radius: 25px;
  /* padding: 15px 10px; */
  width: 200px;
  margin: 10px auto; 
  padding-top: 10px !important;
  margin-top: 30px;
  text-align: center; 
  border: none;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}

.successMessage{
  position: absolute;
  font-size: 16px;
  border-radius: 15px;
  background: white;
  z-index: 2;
  font-family: "Poppins", sans-serif;
  padding-left: 65px;
  padding-top: 31px;
  margin-left: 50px;
  right: -7px;
  padding-bottom: 38px;
  padding-right: 66px;
  /* background-color: green; */
  margin-bottom: 49px;
  top: -10px;
}

.progress-text {
  color: #676767;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.price-txt {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

p {
  font-family: "Poppins", sans-serif;
}

.popupCloseButton {
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: 14px;
  right: 7px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

#message {
  margin-bottom: 60px;
}