@import url("../assets/fonts/Poppins-Medium.ttf");
@import url("../assets/fonts/Poppins-SemiBold.ttf");

.category {
  width: 370px;
  border-radius: 50px;
}

.category-back-icon {
  font-size: 35px;
  color: #676767;
}

.category-title {
  font-size: 30px;
  font-weight: 650;
  color: #676767;
  font-family: "Poppins-SemiBold", sans-serif;
}

.bottom-left {
  position: absolute;
  background: rgba(33, 130, 110, 0.9);
  border-radius: 0px 0px 15px 15px;
  width: 350px;
  height: 43px;
  bottom: 11px;
  left: 25px;
}

.label-text {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins-SemiBold", sans-serif;
}
