@import url("../../assets/fonts/Poppins-Medium.ttf");
@import url("../../assets/fonts/Poppins-Regular.ttf");
@import url("../../assets/fonts/Poppins-Light.ttf");

.navbar-header .hamburger-icon-qr {
    float: left;
    display: block;
    color: #21826e;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-size: 28px;
  }

.cart-title {
    font-size: 25px;
    font-weight: 650;
    color: #676767;
    font-family: "Poppins", sans-serif;
}
.qr-back-icon {
    font-size: 30px;
    color: #21826e;
    cursor: pointer;
}

.share-favourites {
    color: #21826e;
    margin: 35px;
    left: 13%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #21826e;
    position: fixed;
    bottom: 50px;
    border-radius: 30px;
    width: 50%;
    color: white;
    font-family: "Poppins", sans-serif;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);

  }

  p {
    font-family: "Poppins", sans-serif;

  }

  .form-element {
    font-family: "Poppins", sans-serif;
    /* font-weight: 500; */
    
  }