@import url("../assets/fonts/Poppins-Medium.ttf");
@import url("../assets/fonts/Poppins-SemiBold.ttf");



#gif{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

#gameName{
    text-align: center;
    color: #676767;
    font-weight: bold; 
    font-family: "Poppins-SemiBold", sans-serif;
    
}
#des1{
    text-align: center;
    color: #676767; 
    font-family: "Poppins-Medium", sans-serif;
    
}
#des2{
    text-align: center;
    color: #676767; 
    font-family: "Poppins-Medium", sans-serif;
}
#btnStart{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 180px;
    height: auto;
    border-radius: 25px;
    background-color: #21826E;
    margin-left: auto;
    margin-right: auto;
}
