@import url("../assets/fonts/Poppins-Medium.ttf");
@import url("../assets/fonts/Poppins-SemiBold.ttf");



#gif{
    width: auto;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;  
  
}

#gif2{
    width: 100px;
    height: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;  
  
}
#gameName{
    text-align: center;
    color: #676767;
    font-weight: bold; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;  
    margin-bottom: 35px;
}

#gameName2{
    margin-top: 10px;
    text-align: center;
    color: #676767;
    font-weight: bold; 
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;  
}
#des1{

    text-align: center;
    color: #676767; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    
}
#des2{
    text-align: center;
    color: #676767; 
    font-family: "Poppins", sans-serif;
  font-weight: 400;
}
#des3{
    text-align: center;
    color: #676767; 
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
#demo{
    text-align: center;
    color: #676767; 
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
#btnStart{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 180px;
    height: 45px;
    color: white;
    padding-top: 11px;
    border-radius: 25px;
    background-color: #21826E;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#done{
    height: 45px;
    width: 140px;
    border-radius: 25px;
    background-color: #21826E;
    color: white;
    padding-bottom: 2px;
    margin-right: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  
}

#again{
    height: 45px;
    width: 140px;
    border-radius: 25px;
    background-color: white;
    color: #21826E;
    margin-left: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

/* game */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head+body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head+body .ui-btn.ui-btn-a:visited {
    background-color: #21826E;
    color: white;
    padding: 10px;
    width: 100px;
}

.ui-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head+body .ui-btn.ui-btn-b,
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head+body .ui-btn.ui-btn-b:visited {
    background-color: #fd57fd;
    border-color: #5900ff;

    border-radius: 25px;
    font-family: Raleway;
    padding: 5px;
    width: 70px;
}

#countdown {
    font-size: 4vw;
    text-align: center;
    color: #676767;
    padding-bottom: 100px;
    
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    
}

.box_holder {

    width: 22vw;
    height: 22vw;
    border-radius: 10px;
}

.box_holder .front,
.box_holder .back {
    position: absolute;

    text-align: center;

    color: #3b3b3b;
    transition: 1s;
    backface-visibility: hidden;
}

.box_holder .back {
    transform: rotateY(180deg);
}

.box_holder.show_info .back {
    transform: rotateY(0deg);
}

.box_holder.show_info .front {
    transform: rotateY(-180deg);
}

.popupText {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #676767;
    font-size: 35px;
    padding: 2px;
    margin: 0px;
}

table {
    margin-right: auto;

    margin-left: auto;
    margin-top: 50px;
}

.ui-content {
    border-width: 0;
    overflow: visible;
    padding: 5px;
    
    align-items: center !important;
}

.responsive {

    width: 220px;
    height: 220px;
}



.responsive2 {
    width: 50vw;
    height: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsive3 {
    width: 50vw;
    height: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


