@import url("../../assets/fonts/Poppins-Medium.ttf");
@import url("../../assets/fonts/Poppins-Regular.ttf");
@import url("../../assets/fonts/Poppins-Light.ttf");

.navbar-header .hamburger-icon-qr {
    float: left;
    display: block;
    color: #21826e;
    text-align: center;
    padding: 28px 25px;
    text-decoration: none;
    font-size: 28px;
  }

.topic {
    font-size: 22px;
    font-weight: 500;
    color: #676767;
    font-family: "Poppins", sans-serif;
}  

.image-order {
    height: 200px;
    width: 150px;
    padding-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.buttons {
    padding-top: 40px;
    padding-bottom: 30px;
    /* margin-bottom: 20px; */
}

#btn1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #21826e;
    border-radius: 20px;
    margin-left: 50px;
}

#btn2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #21826e;
    border-radius: 20px;
    margin-left: 20px;
}

.img {
    width: 100%;
    height: 170px;
}

.categories {
    font-size: 22px;
    font-weight: 600;
    color: #676767;
    font-family: "Poppins", sans-serif;
}

.viewAll {
    color: #21826e;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}