@import url("../../assets/fonts/Poppins-Medium.ttf");
@import url("../../assets/fonts/Poppins-Regular.ttf");
@import url("../../assets/fonts/Poppins-Light.ttf");

.landing-image-one {
  width: 300px;
}
.text-content {
  margin-top: 100px;
}
.image-content {
  margin-top: 100px;
  text-align: center;
}
.main-title {
  font-size: 25px;
  color: #676767;
  font-weight: 600;
  text-align: center;
}
.sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #a1a1a1;
}
.button {
  width: 35px;
  height: 35px;
}
.button-container {
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 896px) {
  .sub-title {
    font-weight: 400;
    padding-top: 40px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #818181;
  }
  .main-title {
    font-size: 24px;
    color: #676767;
    font-weight: 600;
    text-align: center;
  }

  p {
    font-family: "Poppins", sans-serif;
  }

  .next-btn {
    background-color: #21826e;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    width: 160px;
    margin:40px auto; 
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
    border: none;
  }
}
