body {
  background-color: #f8f8f8;
}
.qr-title {
  font-size: 30px;
  font-weight: 650;
  color: #676767;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.qr-back-icon {
  font-size: 30px;
  color: #21826e;
  cursor: pointer;
}
.topic-header {
  margin-top: 20px;
}

.logo-container,
.logo-colored {
  text-align: center;
}

.logo-colored {
  width: 257px;
  height: 257px;
}

.caption-one,
.caption-three,
.caption-three-last,
.caption-two {
  text-align: center;
  color: #676767;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.caption-one {
  font-size: 28px;
  font-weight: 500;
}

.caption-three,
.caption-three-last {
  font-size: 23px;
  font-weight: 400;
}
.caption-three-last {
  padding-bottom: 20px;
}
.ui-content {
  text-align: center;
}
.click-qr {
  width: 200px;
  height: 200px;
}

.navbar-header .hamburger-icon-qr {
  float: left;
  display: block;
  color: #21826e;
  text-align: center;
  padding: 28px 25px;
  text-decoration: none;
  font-size: 28px;
}

@media (max-width: 812px) {
  .caption-one {
    font-size: 20px;
    font-weight: 500;
  }

  .caption-three,
  .caption-three-last {
    font-size: 18px;
    font-weight: 400;
  }

  .click-qr {
    width: 150px;
    height: 150px;
  }
  .caption-one,
  .caption-three,
  .caption-three-last,
  .caption-two {
    text-align: center;
    color: #676767;
    font-family: "Poppins", sans-serif;
  }
}
@media (height: 1024px) {
  .topic-header {
    margin-top: 30px;
  }

  .caption-one {
    font-size: 28px;
    font-weight: 500;
  }

  .caption-three,
  .caption-three-last {
    font-size: 25px;
  }

  .click-qr {
    width: 200px;
    height: 200px;
  }
  .caption-one,
  .caption-three,
  .caption-three-last,
  .caption-two {
    text-align: center;
    color: #676767;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}
