@import url("../assets/fonts/Poppins-Medium.ttf");
@import url("../assets/fonts/Poppins-SemiBold.ttf");
.category-title {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 650;
  color: #676767;
  font-family: "Poppins-SemiBold", sans-serif;
}

.logo-container {
  text-align: center;
}

.logo-colored {
  width: 257px;
  height: 257px;
}

.caption-one,
.caption-three,
.caption-three-last,
.caption-two {
  text-align: center;
  color: #676767;
  font-family: "Poppins-Medium", sans-serif;
}

.caption-one {
  font-size: 28px;
  font-weight: 500;
}

.caption-three,
.caption-three-last {
  font-size: 25px;
}
.caption-three-last {
  padding-bottom: 20px;
}
.ui-content {
  text-align: center;
}
.click-qr {
  width: 200px;
  height: 200px;
}
