@import url("../assets/fonts/Poppins-Medium.ttf");
@import url("../assets/fonts/Poppins-SemiBold.ttf");
.category-title {
  font-size: 30px;
  font-weight: 650;
  color: #676767;
  font-family: "Poppins-SemiBold", sans-serif;
}

.logo-container {
  text-align: center;
}

.logo-colored {
  width: 257px;
  height: 257px;
}

.caption-one,
.caption-three,
.caption-two {
  text-align: center;
  color: #676767;
  font-family: "Poppins-Medium", sans-serif;
}

.caption-one {
  font-size: 33px;
  font-weight: 500;
}

.caption-three {
  font-size: 25px;
}

.ui-content {
  text-align: center;
}
.click-qr {
  width: 200px;
  height: 200px;
}
